/* Hero */

.hero-title {
  color: var(--hero-text);
  background-color: var(--primary-bcg-color);
}

/* Main */

.section-title {
  color: var(--title-text-color);
}

/* Features */

.feature-list .title {
  color: var(--title-text-color);
}

/* Our works */

/* Our teammates */

.team-list .title {
  color: var(--title-text-color);
}

/* Button */

.hero .button {
  color: var(--hero-text);
  background-color: var(--accent-color);
}
