/* Filter */
.filter .button {
  color: var(--title-text-color);
  background-color: var(--secondary-bcg-color);
}

.filter .button:hover,
.filter .button:focus {
  color: var(--hero-text);
  background-color: var(--accent-color);
}

.projects .title {
  color: var(--title-text-color);
}
