/* Our projects */
.filter .button {
  color: var(--title-text-color);
  background-color: var(--secondary-bcg-color);
}

.filter .button:hover {
  color: var(--hero-text);
  background-color: var(--accent-color);
}

.projects .link {
  color: var(--primary-text-color);
}
.projects .title {
  color: var(--title-text-color);
}
